<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ELP___GrandTheftAustria.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ELP___GrandTheftAustria.My.MySettings>
            <setting name="mysqlserver" serializeAs="String">
                <value />
            </setting>
            <setting name="mysqluser" serializeAs="String">
                <value />
            </setting>
            <setting name="mysqlpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="mysqldatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="id" serializeAs="String">
                <value />
            </setting>
            <setting name="benutzername" serializeAs="String">
                <value />
            </setting>
            <setting name="usertype" serializeAs="String">
                <value />
            </setting>
            <setting name="maßnahme_text" serializeAs="String">
                <value />
            </setting>
            <setting name="currenteinsatzid" serializeAs="String">
                <value />
            </setting>
        </ELP___GrandTheftAustria.My.MySettings>
    </userSettings>
</configuration>